<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /~rb/digiastroweb/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /~rb/digiastroweb/index.html [L]
</IfModule>